*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    min-height:100vh;
    background:linear-gradient(135deg,#ff4d6d,#ff8fa3);
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden;
}

.container{
    text-align:center;
    background:rgba(255,255,255,0.15);
    backdrop-filter:blur(10px);
    padding:30px;
    border-radius:25px;
    color:white;
    width:90%;
    max-width:800px;
    box-shadow:0 0 25px rgba(0,0,0,0.2);
}

h1{
    margin-bottom:20px;
}

.fotos{
    display:flex;
    justify-content:center;
    gap:30px;
    margin-bottom:25px;
    flex-wrap:wrap;
}

.fotos img{
    width:180px;
    height:180px;
    object-fit:cover;
    border-radius:50%;
    border:4px solid white;
}

.contador{
    margin:25px 0;
}

#tempo{
    font-size:1.8rem;
    font-weight:bold;
    margin-top:10px;
}

.mensagem{
    margin:20px 0;
    font-size:1.1rem;
}

audio{
    margin-top:15px;
    width:100%;
}

.heart{
    position:absolute;
    color:white;
    font-size:20px;
    animation:cair linear infinite;
}

@keyframes cair{
    from{
        transform:translateY(-100px);
    }
    to{
        transform:translateY(110vh);
    }
}